/* Default variables */
/* @import 'default-variables';		// commented out to use Bootswatch. If using default Bootstrap styles, uncomment this line and comment out the next two lines*/
@import 'variables-theme';
@import 'bootswatch';

/* Bootstrap Framework */
@import '../bootstrap/assets/stylesheets/bootstrap';

/* Base-theme overrides */
@import 'overrides';

/* Typekit */
 @import url("https://use.typekit.net/vuy0kfk.css");

/* --------------------- DEFAULT VARIABLES */
$button-padding: 3px;
$tiny-padding: 7px;
$smaller-padding: 10px;
$small-padding: 15px;
$med-padding: 30px;
$lg-padding: 50px;
$xl-padding: 100px;

$quarter-width: 24.7%;
$third-width: 33%;
$half-width: 49.7%;


$small-font: 1.25rem;
$med-font: 1.5rem;
$med-lg-font: 2.25rem;
$lg-font: 3.25rem;
$xl-font: 6rem;
$body-lineheight: 1.25;
$font-family: 'Avenir', sans-serif;

$light-font: 300;
$normal-font: 400;
$bold-font: 800;
$heavy-font: 900;

$hover-percent: 10%;
$screen-opacity: 0.8;
$highlight: lighten($brand-primary, 30%) !important;

$sm-screen: 768px;
$md-screen: 992px;
$lg-screen: 1200px;
$xl-screen: 1400px;

$border-default: $button-padding solid $brand-primary;
$border-thin: 1px solid $gray-light;
$nav-height: 50px;
$header-xl-screen: 45vh; /* min-width: $lg-screen */
$header-lg-screen: 60vh; /* min-width: $md-screen and max-width: $lg-screen; */
$header-md-screen: 80vh; /* min-width: $sm-screen and max-width: $md-screen; */
$header-sm-screen: 100vh; /* max-width: $sm-screen; */

$search-slide: -200px;

/* PDF variables */
$small-font-pdf: 12px;
$med-font-pdf: 15px;
$med-lg-font-pdf: 18px;
$lg-font-pdf: 30px;
$xl-font-pdf: 60px;

/* Extensions */
%small-allcaps {
	margin-bottom: $button-padding;
	text-transform: uppercase;
	font-size: $small-font;
	font-weight: $bold-font; 
}

%image-cover {
	width: 100%;
	display: block;
	float: left;
	object-fit: cover;
}

%image-container-1to1 {
    padding-top: 100%;
	width: 100%;
	position: relative;
	overflow: hidden;
}

%image-contained-1to1 {
	position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
}

%box-shadow {
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

%table-cell {
	display: table-cell; 
	vertical-align: top;
	float: none !important; 
	position: relative;
}

%details-boxes {
	padding: $med-padding;
	background-color: $gray-lighter;
}

%form-control-padding {
	padding: $smaller-padding;
}

%input-half-width { 
    display: inline-block;
    clear: none !important;
    width: 50%;
}

%hoverbox-teaser-container {
	height: 400px;
    overflow: hidden; 
    position: relative;
}

%hoverbox-teaser-fill {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: $gray-base;
	opacity: $screen-opacity;
	z-index: 10;
}

%hoverbox-teaser-contents {
	position: absolute; 
	top: 0; 
	bottom: 0; 
	padding: $small-padding;
	z-index: 10;
	color: white !important;
}

%hoverbox-teaser-image-container {
	height: auto !important;
	width: auto !important;
	position: unset !important;
}

%hoverbox-teaser-image {
    min-height: 400px;
    height: auto !important;
    width: auto !important;
    object-fit: cover;
}
	    

/* --------------------- CUSTOM STYLES */

/* Transitions */
	* { transition: background-color 200ms; }

/* Body */
	body { overflow-x: hidden; }

/* Containers */
	.container-fluid { margin: 0; padding: 0; }
	.not-front .main-container {margin-top: $xl-padding; }




/* --------------------- TYPOGRAPHY */

	body { 
		font-family: $font-family !important; 
		font-weight: $normal-font;
		color: $gray; 
	}

	body, p { font-size: $med-font; }
	
	h1, h2, h3, h4, h5, h6 { 
		font-family: $font-family !important; 
		font-weight: $bold-font; 
		color: $gray-base; 
	}

	h1 { font-size: $xl-font; }
	h2 { font-size: $lg-font; }
	h3 { font-size: $med-lg-font; }
	h4 { font-size: $med-font; text-transform: uppercase; font-weight: $heavy-font; }
	
	.small { font-size: $small-font; }

	/* Subtitles */
	.page-header, .block-title { 
		position: relative;
		display: inline-block;
		padding-bottom: 0;
		border-bottom: none;
		margin-bottom: $med-padding;
		width: $third-width;
		text-transform: capitalize;
	}
	.page-header { font-size: $lg-font; }
	.block-title { font-size: $med-lg-font; }

	.page-header:after, .block-title:after {
		position: absolute;
    	height: $button-padding;
	    content: '';
	    left: 0;
	    right: 0;
	    width: calc(100% + #{$lg-padding});
	    background-color: $brand-primary;
	    left: 0;
	    bottom: -5px;
	}



/* --------------------- LINK STYLES */

	a { cursor: pointer; }


/* --------------------- FORM STYLES */
	
	.control-label, label { margin-bottom: 0; font-weight: normal !important; }
	.form-group .description { font-size: $small-font; }
	.form-control { height: auto; @extend %form-control-padding; }
	.form-horizontal .form-item { float: left; }
	
	/* Checkboxes */
	.form-checkboxes input[type="checkbox"], .form-checkboxes label.option { 
		vertical-align: baseline; 
		width: auto; }
	.form-checkboxes .form-group {
	    margin-bottom: 0 !important;
	}

    input[type="checkbox"]:focus, input[type="radio"]:focus { outline: none !important }
	input[type="checkbox"]:focus:before, input[type="radio"]:focus:before {
	    outline: 5px auto -webkit-focus-ring-color;
	    outline-offset: -2px;
	}    
	input[type="checkbox"], input[type="radio"] { 
        -webkit-appearance:none !important;
        appearance: none; 
        position: relative !important;
    }
    input.form-control[type="checkbox"], input.form-control[type="radio"] { 
        display: none;
    }

    input[type="checkbox"] + label:before, a.bef-toggle:before, .form-type-checkbox input[type="checkbox"]:before, input.leaflet-control-layers-selector[type="checkbox"]:before, 
    input[type="radio"] + label:before, .form-type-radio input[type="radio"]:before, input.leaflet-control-layers-selector[type="radio"]:before  {
        content: "";
        display: inline-block;
        width:16px;
        height:18px;
        background:url("../img/sprites.png") left top no-repeat;
        cursor: pointer;
        padding-left: 18px;
        margin-left: 0 !important;
        margin-right: $tiny-padding;
        vertical-align: middle;
        margin-bottom: $tiny-padding; 
    }

    input[type="radio"] + label:before, .form-type-radio input[type="radio"]:before, input.leaflet-control-layers-selector[type="radio"]:before {
        background:url("../img/sprites.png") -56px top no-repeat;
    }

    input[type="checkbox"]:checked + label:before, input[type="checkbox"]:checked:before, input.leaflet-control-layers-selector[type="checkbox"]:checked:before {
        background:url("../img/sprites.png") -28px top no-repeat;
    }        

    input[type="radio"]:checked + label:before, input[type="radio"]:checked:before, input.leaflet-control-layers-selector[type="radio"]:checked:before {
        background:url("../img/sprites.png") -84px top no-repeat;
    }  

    /* Tables */
    table a:not(.btn), .table a:not(.btn) { text-decoration: none; }
    table .label { border-radius: 0; margin-left: $tiny-padding; padding: 0 $button-padding; font-size: $small-font; }
    table .icon-after { font-size: $small-font; margin-left: $button-padding; }

    /* Wells and Panels */
    .well { background-color: $gray-lighter; }      

	fieldset.collapsible .panel-heading a.panel-title { text-decoration: none !important; }
	fieldset.collapsible .panel-heading a.panel-title:after {
	    content: '\f107';
	    font-family: FontAwesome;
	    display: inline;
	    float: right;
	}

    a[data-toggle="collapse"] { color: black !important; text-decoration: none !important; }
    a[data-toggle="collapse"][aria-expanded="false"]:after, a[aria-expanded="true"]:after {
    	font-family: FontAwesome; 
		right: $small-padding;
		position: absolute;
    }
    a[data-toggle="collapse"][aria-expanded="false"]:after { content: "\f107"; }
    a[data-toggle="collapse"][aria-expanded="true"]:after { content: "\f106"; }

    /* Action buttons */
    #edit-actions { float: right; margin-top: $med-padding; text-align: right; }
    .form-horizontal #edit-actions { margin-top: 0; }
    .media-widget a.browse { display: inline-block; float: left; }

    /* Nav tabs */
    .nav-tabs li { float: right; }

    /* Panels */
    fieldset .panel-heading a.panel-title {
    	@extend %form-control-padding;
    }
    fieldset .panel-heading .panel-title {
		font-size: $med-font;
    	font-weight: bold;
    }

    /* Select dropdowns */
    .form-control select, .form-group select {
        background: white url("../img/down-arrow.png") no-repeat;
        background-size: $xl-padding $smaller-padding;
        background-position: calc(100% - #{$button-padding}) center;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;    
    }

    select[multiple] {
    	background-image: none !important;
    }

    /* Address block */
    #addressfield-wrapper .form-wrapper>div { margin-bottom: $small-padding; }
    #addressfield-wrapper .form-wrapper .form-item { width: 100%; }

    /* Date block */
    .date-combo .date-float { width: 100%; }
    .date-combo .date-padding { padding: 0 !important; }
    .date-combo .start-date-wrapper, .date-combo .end-date-wrapper {
	    width: $half-width;
	    display: inline-block;
	    vertical-align: bottom;
	}

	.date-combo .start-date-wrapper { padding-right: $smaller-padding/2; }
	.date-combo .end-date-wrapper { padding-left: $smaller-padding/2; }
	.date-combo .container-inline-date div {
	    float: none;
	    width: 100%;
	}

	.date-combo .start-date-wrapper .form-item, .date-combo .end-date-wrapper .form-item { margin-bottom: $smaller-padding; }
    .date-combo .start-date-wrapper .form-item>input, .date-combo .end-date-wrapper .form-item>input { width: 100%; }
	.date-combo .start-date-wrapper .form-group>.control-label:before {
		content: "Start ";		
	}
	.date-combo .end-date-wrapper .form-group>.control-label:before { 
		content: "End ";
	}
	.date-combo .end-date-wrapper>.control-label { display: none; }


    /* Required input asterisks */
    span.form-required { color: $brand-warning; }

    /* Exposed forms */
    .views-exposed-widget.views-submit-button { display: none; }
    .views-exposed-form .views-exposed-widget { margin-top: $small-padding; width: 100%; }
    .views-exposed-form .views-exposed-widget:first-child { margin-top: 0; }

    /* Errors */
    .has-error .control-label { color: $brand-warning !important; }
    .has-error .form-control { border-color: $brand-warning !important; }

    /* Add another item blocks */
	button.field-add-more-submit {
	    border: none !important;
	    font-size: $med-font;
	    text-transform: none;
	    float: right;
	    padding: 0 !important;
	    color: $brand-primary !important;
	    margin-top: $small-padding;
	}
	.field-add-more-submit .ajax-progress-throbber { margin-left: $smaller-padding; }
	.field-multiple-table td { padding: $tiny-padding 0 !important; }
	tr.draggable { background: none !important; }	
	td.field-multiple-drag { display: none; }

	/* File uploader blocks */
	#edit-picture-body> div {
		display: inline-block;
		vertical-align: top;
	} 

	#edit-picture-body .user-picture { width: $third-width; padding-right: $small-padding; }
	#edit-picture-body .form-item-files-picture-upload { width: 65%; }

	.form-type-media>.control-label { display: none; }

/* --------------------- BUTTON STYLES */
	
	.btn { 
		background: none !important; 
		font-weight: $heavy-font; 
		font-size: $med-font;
		text-transform: uppercase;
		margin: $tiny-padding 0;
		border: $border-default;
		padding: $smaller-padding 18px !important;
	}

	.btn-default { color: $gray !important; border-color: $gray !important; }
	.btn-default:hover { color: darken($gray, $hover-percent) !important; border-color: darken($gray, $hover-percent) !important; }

	.btn-success { color: $brand-success !important; border-color: $brand-success !important; }
	.btn-success:hover { color: darken($brand-success, $hover-percent) !important; border-color: darken($brand-success, $hover-percent) !important; }

	.btn-info { color: $brand-info !important; border-color: $brand-info !important; }
	.btn-info:hover { color: darken($brand-info, $hover-percent) !important; border-color: darken($brand-info, $hover-percent) !important; }

	.btn-warning, .btn-danger { color: $brand-warning !important; border-color: $brand-warning !important; }
	.btn-warning:hover, .btn-danger:hover { color: darken($brand-warning, $hover-percent) !important; border-color: darken($brand-warning, $hover-percent) !important; }

	.btn-primary { border: $border-default !important; color: $brand-primary !important; }
	.btn-primary:hover { color: darken($brand-primary, $hover-percent) !important; border-color: darken($brand-primary, $hover-percent) !important; }

	.form-group > button:not(:first-child), .form-item+.btn { margin-left: $small-padding; }

	/* Input Group buttons/addons */
	span.input-group-btn .btn { margin: 0 !important; }
	span.input-group-btn .btn-primary, span.input-group-addon {
		background-color: $brand-primary !important;
		color: white !important;
		padding: $tiny-padding 18px #{$tiny-padding - 1} 18px !important;
	}

	span.input-group-addon .glyphicon { color: white !important; }


/* --------------------- HEADER STYLES */

	/* Navbar */
	#navbar, .navbar-collapse { padding: 0; }
	#navbar { 
		margin-top: 0; 
		top: 0;
		z-index: 10000;
		background: none;
		border: none; 
		margin-bottom: 0;
		height: 40px;
	}
	
	#navbar .nav>li>a { 
		font-weight: $heavy-font; 
		font-size: $med-font;
		text-transform: uppercase; 
		color: $gray-base !important;
		background: none;
	}

	#navbar .nav > li > a { padding: $small-padding $med-padding $small-padding 0; }
	.front #navbar .nav>li>a { color: white !important; }
	#navbar .nav>li>a.active { color: $brand-primary !important; background: none !important; }
	.nav a:hover { 
		background: none !important;
		text-decoration: underline !important;
	}
	
	.navbar-brand { font-weight: bold !important; }

	.navbar-collapse { text-align: right; margin-right: -4px !important; }

	/* Dropdowns */
	#navbar .nav>li.dropdown>a { background: none !important; }
	.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus { color: $brand-primary !important; }
	.dropdown-menu .separator>hr { margin: $tiny-padding 0 $small-padding 0; }
	
	/* Main menu searchbar */
	.region-navigation { display: inline-block; float: left; }
	.region-navigation #block-search-form { margin: 0; overflow: hidden; }
	.region-navigation #block-search-form #search-block-form { display: none; position: relative; left: $search-slide; }
	.region-navigation #block-search-form .input-group { padding: $small-padding $med-padding $small-padding 0; }
	.region-navigation #block-search-form input[type='text'], .region-navigation #block-search-form .input-group-btn button {
	    padding: 0 !important;
	    border: none !important;
		background: none !important;
		color: black !important;
	    margin-left: $smaller-padding !important;
	    border-bottom: $border-thin !important;
	}


	/* Search autocomplete */
	.ui-autocomplete { 
	    border: none;
	    padding: $tiny-padding !important;
	    font-family: $font-family;
	}
	.ui-corner-all { border-radius: 0 !important; }
	.ui-state-focus { background: none; color: $brand-primary; }
	.ui-autocomplete * { text-align: left; right: unset !important; float: unset !important; }

	.page-home .ui-autocomplete *, .page-home .region-navigation #block-search-form input[type='text'], .page-home .region-navigation #block-search-form .input-group-btn button {
		color: white !important; 
	}	

	.ui-autocomplete .ui-menu-item a { border: none !important; }
	.ui-autocomplete .ui-menu-item a.ui-state-focus { background: $highlight; }


	.region-navigation #block-search-form input[type='text'] {
	    box-shadow: none;
	}
	
	/* Secondary (User) Menu */
	#navbar .nav.secondary { position: relative; }
	@media (min-width: $sm-screen) { 
		#navbar .nav.secondary > li > a { padding-right: 0; }
	}
	#navbar .nav.secondary .dropdown-menu {
	    text-align: right;
	    right: 0;
	    left: initial;
	    position: absolute;
	}


	/* Collapse menus */
	@media (max-width: $sm-screen) { 
		#navbar .nav { 
			float: right;
			text-align: right;
		}
		#navbar .nav>li { clear: both; }	
		#navbar .open .dropdown-menu { 
			position: relative;
			padding-right: $med-padding;
			float: right;
			text-align: right;
		}
		.navbar-collapse.in { overflow-y: initial; }
		#navbar .nav.secondary { clear: both; }
	}

	/* Page header */

		/* Breadcrumbs */
		.breadcrumb { padding: 0; background: none; margin-bottom: $tiny-padding; }
		.breadcrumb>li { text-transform: capitalize; }

/* --------------------- BLOCK STYLES */
	
	.region-content .block { margin-top: $lg-padding; }
	.half { width: $half-width; }
	.main-container { margin-bottom: $lg-padding; }

	/* Alerts */
	.alert-info a:hover { text-decoration: underline; }
	.alert { border: none; }



/* --------------------- DEFAULT PAGE STYLES */

	/* Sidebar */
	#sidebar-left { 
		position: absolute; 
		width: auto;
		margin-top: $small-padding;
		z-index: 1001;
	}

	/* Group left/right/middle */
	.group-header { margin-bottom: $med-padding; }
	.group-left, .group-middle, .group-right { 
		@extend %table-cell;
	} 

	.group-left>div:first-child h3, .group-middle>div:first-child h3, .group-right>div:first-child h3 { margin-top: 0; margin-bottom: $small-padding; }

	.node-form .group-left>div, .node-form .group-middle>div, .node-form .group-right>div,
 	#user-profile-form .group-left>div, #user-profile-form .group-middle>div, #user-profile-form .group-right>div  {
		@extend %details-boxes;
		margin-bottom: $med-padding;
	}

	.group-left { padding-right: $med-padding; }
	.group-left, .group-right { width: $half-width; }
	.ds-3col-equal .group-left, .group-left.field-group-div { width: $third-width; }
	.ds-2col-stacked .group-left, .ds-2col .group-left { width: 75%; }
	.ds-2col-stacked .group-right, .ds-2col .group-right, 
	.group-middle, .group-middle+.group-right { width: $quarter-width !important; }

	@media (max-width: $md-screen) {
		.group-left, .group-middle, .group-right, .group-middle+.group-right { width: 100% !important; display: block; padding-right: 0; }
	}

	.group-footer { 
		margin-top: 2*$lg-padding; 
		float: left;
		width: 100%;
	}

	/* Byline */
	.field-name-author-custom { margin-bottom: $small-padding; }
	.field-name-author-custom p { font-style: italic; font-size: $small-font !important; }

	/* Password fields */
	.form-type-password-confirm .form-type-password { @extend %input-half-width; }

	.fieldset-description {
	    margin: $med-padding 0 $small-padding 0;
	    font-size: $small-font;
	    color: $gray-light;
	}

	/* Address form */
	.field-type-addressfield .form-wrapper>div { margin-bottom: $small-padding; }
	.field-type-addressfield .form-wrapper .form-group { width: 100%; }

	/* Hide text formats */
	.text-format-wrapper .ckeditor_links { margin-top: $tiny-padding; display: block; }
	.text-format-wrapper .filter-wrapper { display: none !important; }

/* --------------------- HOME PAGE STYLES */
	
	/* Jumbotron */
	.region-header, .home-network-map:before, .home-network-map .leaflet-container { min-height: 400px; }
	@media(min-width: $xl-screen) { .region-header { height: calc(#{$header-xl-screen} - #{$nav-height}); margin-bottom: $lg-padding; }}
	@media(min-width: $lg-screen) and (max-width: $xl-screen) { .region-header { height: calc(#{$header-lg-screen} - #{$nav-height}); margin-bottom: $lg-padding; }}
	@media(min-width: $md-screen) and (max-width: $lg-screen) { .region-header { height: calc(#{$header-md-screen} - #{$nav-height}); margin-bottom: $lg-padding; }}
	@media(max-width: $md-screen) { .region-header { height: calc(#{$header-sm-screen} - #{$nav-height}); margin-bottom: $lg-padding; }}
	
	.home-page-title { 
		padding-top: 10vh;
		color: white !important;
		height: 300px;
	}

	.home-page-title .home-title { font-size: $xl-font; }
	.home-page-title .home-title, .home-page-title .home-subtitle { margin: 0; padding: 0; color: white !important;}  
	.home-page-title .home-subtitle { 
		border-bottom: $border-default; 
		font-size: $lg-font; 
		margin-bottom: $tiny-padding;
		padding-bottom: $tiny-padding;
	}

	.home-network-map { 
		position: absolute;  
		top: 0;
		width: 100%;
		z-index: -1;
	}

	.home-network-map:before {
		content: "";
		position: absolute;
		width: 100%;
		background-color: $gray-base;
		opacity: $screen-opacity;
		z-index: 10000;
	}
	@media(min-width: $xl-screen) { .home-network-map:before, .home-network-map .leaflet-container { height: $header-xl-screen !important; }}
	@media(min-width: $lg-screen) and (max-width: $xl-screen) { .home-network-map:before, .home-network-map .leaflet-container { height: $header-lg-screen !important; }}
	@media(min-width: $md-screen) and (max-width: $lg-screen) { .home-network-map:before, .home-network-map .leaflet-container { height: $header-md-screen !important; }}
	@media(max-width: $md-screen) { .home-network-map:before, .home-network-map .leaflet-container { height: $header-sm-screen !important; }}


/* --------------------- NETWORK PAGE STYLES */
	
	.page-network .alert { margin-bottom: 0; }
	.page-network .breadcrumb { display: none; }
	.page-network .page-header { display: none; }
	.page-network .main-container { width: 100%; padding: 0; margin-top: 0; margin-bottom: 0; position: relative; }
	.page-network #block-system-main { margin-top: 0; }
	.page-network .leaflet-container { height: auto !important; min-height: calc(95vh - #{$nav-height}) !important;}


	/* Map controls */	
	.leaflet-container { font: $small-font/$body-lineheight $font-family !important; }
	.leaflet-top .leaflet-control { margin-top: $small-padding; }
	.leaflet-right .leaflet-control { margin-right: $small-padding; }
	.leaflet-bottom .leaflet-control { margin-bottom: $small-padding; }
	.leaflet-left .leaflet-control { margin-left: $small-padding; }
	.leaflet-bottom.leaflet-right { z-index: 1002; }

	/* Layer controls */
	.leaflet-top.leaflet-right {
		height: 100%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: end;
		-ms-flex-align: end;
		align-items: flex-end;
		-webkit-box-pack: start;
		-ms-flex-pack: start;
		justify-content: flex-start;
		-ms-flex-wrap: wrap-reverse;
		flex-wrap: wrap-reverse;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		width: auto;
		background: rgba(0, 0, 0, 0.8);
		padding: $small-padding 0 $small-padding $small-padding;
		z-index: 1001;
	}

	.leaflet-control-layers-hide {
	    position: absolute;
	    left: -$med-padding;
	    top: $med-padding;
	    writing-mode: vertical-lr;
	    width: $med-padding;
	    font-size: $med-font;
	    font-weight: bold;
	    padding: $small-padding $tiny-padding;
		background-color: $brand-primary;
		pointer-events: auto;
	}


	.leaflet-control-layers {
		border-radius: 0;
		border: none !important;
		width: 15vw;
		min-width: $xl-padding + $lg-padding;
		max-width: 2*$xl-padding;
		-webkit-box-flex: 0 0 auto;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
	    background: none;
    	padding: 0;

	}
	.leaflet-control-layers h5 { margin: 0; }
	.leaflet-control-layers a, .leaflet-control-layers-hide a { color: white !important; }
	.leaflet-control-layers label { margin-bottom: 0; }

	.leaflet-control-layers-list {
		background-color: none;
		border-radius: 0;
		-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
		border: 1px solid #ccc;
		padding: $tiny-padding;
	    color: $gray-lighter;
	    border: none;
	}

	.leaflet-control-layers-list.collapse:not(.in) { display: none !important; }
    .leaflet-control-layers-list.collapsing { 
    	-webkit-transition-property: height, visibility, padding-top, padding-bottom;
    	transition-property: height, visibility, padding-top, padding-bottom; 
    }

	input.leaflet-control-layers-selector { 
		display: inline-block !important; 
		-webkit-appearance: none;
		appearance: none;
	}

	input.leaflet-control-layers-selector:before { 
		-webkit-transform: scale(0.75);
		-ms-transform: scale(0.75);
		transform: scale(0.75);
		vertical-align: bottom !important;
		margin: 0 !important;
	}

	input.leaflet-control-layers-selector + span {
    	width: 75%;
    	margin-left: $button-padding;
    	display: inline-block;
    	vertical-align: middle;
    	line-height: $body-lineheight;
	}

	input.leaflet-showhideall {
	    margin-top: 0;
	    vertical-align: bottom;
	    width: $small-padding + $tiny-padding;
	    top: 0;
	}


	/* Map Legend */
	.leaflet-control.legend { background-color: rgba(0, 0, 0, 0.75); padding: $small-padding; color: $gray-lighter !important; }
	.leaflet-control.legend h4, .leaflet-control.legend h6 { color: white !important; }
	.leaflet-control.legend .legend-group { display: none; width: $xl-padding; margin: 0 $tiny-padding; vertical-align: top; }
	.leaflet-control.legend .legend-group.Network { display: inline-block; }
	.leaflet-control.legend .legend-group:last-child { margin-right: 0; }
	.leaflet-control.legend .legend-elem  { display: block; clear: both; margin-bottom: $smaller-padding; }
	.leaflet-control.legend .legend-elem label  { width: 80%; padding-left: $tiny-padding; line-height: $body-lineheight; }
	.leaflet-control.legend .legend-elem *  { display: inline-block; vertical-align: middle; }
	.leaflet-control.legend .legend-elem .legend-icon { width: $small-padding; height: $small-padding; text-align: center; }

	/* Map popups */	
	.leaflet-popup label { font-weight: bold !important; }

	.node-partner.view-mode-teaser .group-left, .node-partner.view-mode-teaser .group-right { width: $half-width !important; }
	.node-partner.view-mode-teaser .group-footer { margin-top: 0; }
	.node-partner.view-mode-teaser .group-footer>div { margin-top: $med-padding; }
	.node-partner.view-mode-teaser a { color: $brand-primary !important; }
	.node-partner.view-mode-teaser, .leaflet-popup-content-wrapper { border-radius: 0; } 
	.node-partner.view-mode-teaser .group-header { margin-bottom: $small-padding; }	
	.node-partner.view-mode-teaser .field { margin-bottom: $button-padding; }
	.node-partner.view-mode-teaser * {
	    word-break: break-word;
	    word-wrap: break-word;
	}
	

/* --------------------- PROJECTS PAGE STYLES */

	.page-projects .view-projects .row { margin-bottom: $med-padding; }

/* --------------------- USER PAGE STYLES */
	
	.page-user .field-name-field-name { padding-right: $small-padding; }
	.page-user .field-name-field-last-name { padding-left: $small-padding; }
	.page-user .field-name-field-name, .page-user .field-name-field-last-name { @extend %input-half-width; }
	
	/* Create Account */
	.page-user-register .group-left, .page-user-register .group-middle, .page-user-register .group-right { 
		@extend %details-boxes;
	}


/* --------------------- ADD CONTENT PAGE STYLES */

	.page-node-add em { font-weight: bold; }
	.page-node-add .node-type-list dt { font-size: $med-lg-font; line-height: $body-lineheight; }
	.page-node-add .node-type-list dd { margin-bottom: $small-padding; }

/* --------------------- SEARCH RESULTS PAGE STYLES */	

	.page-search-content .search-form { position: absolute; }
	.page-search-content .search-form+h2 { margin-top: $xl-padding; z-index: 1; }
	.page-search-content .search-form>div .form-wrapper {
		display: inline-block; 
		width: calc(50% - #{$tiny-padding});
	}

	.page-search-content .search-form>div .form-wrapper:last-child { float: right; }
	.page-search-content .search-form .search-advanced .panel-body {
		@extend %box-shadow;
	}

	.page-search-content .ds-search-extra { margin-bottom: $lg-padding; }
	.criterion { margin-bottom: $small-padding; }


	/* Search result view mode */	
	.ds-search-highlight { background-color: $highlight; }
	.view-mode-search_result { margin-bottom: $med-padding; }
	.view-mode-search_result .group-left { 
		width: $lg-padding + $xl-padding; 
		margin-right: $small-padding; 
		min-height: 1px;
		height: 100%;
	}
	.view-mode-search_result .group-right { width: calc(100% - 100px - #{$small-padding}) !important; } /* width of column - width of lefthand image + 15px padding */
	.view-mode-search_result .field-name-author-custom { margin-top: $small-padding; }
	.view-mode-search_result .field-name-title h3 { margin-top: 0; }
	.view-mode-search_result .field-name-node-type p { @extend %small-allcaps; }

	/* Numbered results */
	.page-search-content { counter-reset: search; }
	.view-mode-search_result .field-name-title h3:before { 
		counter-increment: search;
		content: counter(search) ". ";

	}

/* --------------------- FULL CONTENT STYLES */

	.view-mode-full .group-left .field-label { font-size: $med-lg-font; color: $gray-base; }

	/* Slideshows */
	.view-mode-full .flexslider  { 
		border-radius: 0;
		padding: 0; 
		margin-bottom: 0;
	}

	.view-mode-full .flexslider .slides { height: inherit; }
	.view-mode-full .flexslider .slides a.fancybox {
		/*height: 4*$xl-padding;
		overflow: hidden;
		display: block;*/
	}

	.view-mode-full .flexslider .slides img { 
		/*height: 100%;
		@extend %image-cover;*/
	}

		/* Navigation */
		.view-mode-full .flexslider .flex-direction-nav a { height: $lg-padding; }
		.view-mode-full .flexslider .flex-direction-nav a:before { color: rgba(51,153,255,0.8) !important; }
		.view-mode-full .flexslider .flex-control-thumbs { 
			position: relative; 
			float: left; 
			bottom: 0;
			z-index: 1;
		}
		.view-mode-full .flexslider { margin-bottom: $lg-padding + $med-padding; }
		.view-mode-full .flexslider .flex-control-thumbs > li { height: $xl-padding+$lg-padding; margin-right: $tiny-padding; width: unset; }
		.view-mode-full .flexslider .flex-control-thumbs > li > img { height: 100%; width: auto; object-fit: cover; }
		.view-mode-full .flexslider .flex-control-thumbs > li > img:not(.flex-active) { opacity: 0.25; }

	/* Righthand details box(es) */
	.view-mode-full .group-right, .view-mode-full .group-middle {
		@extend %details-boxes
	}
	.view-mode-full .group-right .field-label, .view-mode-full .group-middle .field-label { font-size: $small-font; text-transform: uppercase; }

	.view-mode-full .field { margin-bottom: $small-padding; }

	/* PDF Download */
	.view-mode-full .links { margin-top: $med-padding; }
	.view-mode-full .print_pdf, .view-mode-full .print_page  { margin-left: 0; }
	
	/* Comments */
	.view-mode-full #comments { border-top: $border-thin; }
	

/* --------------------- TEASER STYLES */
	
	.view-mode-teaser, .view-mode-user_teaser { margin-bottom: $med-padding; }
	
	
	/* User teasers */
	.view-mode-user_teaser h3 { margin-top: $tiny-padding; }
	.view-mode-user_teaser .group-contained { @extend %small-allcaps;	}
	.view-mode-user_teaser .field-name-field-level * { font-size: $small-font; color: $gray-light; }
	.view-mode-user_teaser .field-name-ds-user-picture { @extend %image-container-1to1; }
	.view-mode-user_teaser .field-name-ds-user-picture img { @extend %image-contained-1to1; }
	
	/* News/Events teasers */
	.node-event.view-mode-teaser .field-name-field-images, .node-news.view-mode-teaser .field-name-field-images {
	    height: 2*$xl-padding !important;
	    overflow: hidden;
	}

	.node-event.view-mode-teaser .field-name-field-images img, .node-event.view-mode-teaser .field-name-field-images img {
		@extend %image-cover;
	    height: 2*$xl-padding !important;		
	} 

	.node-event.view-mode-teaser .field-name-field-images>img, .node-news.view-mode-teaser .field-name-field-images>img {
	    min-width: 100%;
	    max-width: none;
	    min-height: 100%;
	    max-height: none;
	    margin: auto;
	}
	.node-event.view-mode-teaser .field-name-title h3, .node-news.view-mode-teaser .field-name-title h3 { margin-bottom: $button-padding; }
	.node-event.view-mode-teaser .field-name-post-date, .node-news.view-mode-teaser .field-name-post-date { font-weight: bold; margin-bottom: $small-padding; color: $gray-base; }

	.node-event.view-mode-teaser .field-name-node-link, .node-news.view-mode-teaser .field-name-node-link { margin-top: $med-padding; }

	/* Projects and Best Practices */
	.node-best-practice.view-mode-teaser .group-container, 
	.node-project.view-mode-teaser .group-container { @extend %hoverbox-teaser-container; }
	.node-best-practice.view-mode-teaser .group-container:before,
	.node-project.view-mode-teaser .group-container:before { @extend %hoverbox-teaser-fill; }
	.node-best-practice.view-mode-teaser .group-contained,
	.node-project.view-mode-teaser .group-contained { @extend %hoverbox-teaser-contents; }
	.node-best-practice.view-mode-teaser .group-details,
	.node-project.view-mode-teaser .group-details { margin-top: $small-padding; }
	.node-best-practice.view-mode-teaser .group-details .field,
	.node-project.view-mode-teaser .group-details .field { @extend %small-allcaps; }
	.node-best-practice.view-mode-teaser .field-name-field-images .field-slideshow,
	.node-project.view-mode-teaser .field-name-field-images .field-slideshow { @extend %hoverbox-teaser-image-container; }
	.node-best-practice.view-mode-teaser .field-name-field-images .field-slideshow img,
	.node-project.view-mode-teaser .field-name-field-images .field-slideshow img { @extend %hoverbox-teaser-image; }
	.node-best-practice.view-mode-teaser .field-name-node-link,
	.node-project.view-mode-teaser .field-name-node-link { position: absolute; bottom: $small-padding; }



/* --------------------- TAXONOMY TERM PAGES */

	.page-taxonomy-term .node-teaser { display: inline-block; }
	@media (max-width: $sm-screen) { 
		.page-taxonomy-term .node-teaser { width: 100%; }
	}

	@media (min-width: $sm-screen) and (max-width: $md-screen) { 
		.page-taxonomy-term .node-teaser { width: $half-width; padding-right: $small-padding; }
		.page-taxonomy-term .node-teaser:nth-child(2n+1) { padding-right: 0; }
	}	

	@media (min-width: $md-screen) and (max-width: $lg-screen) { 
		.page-taxonomy-term .node-teaser { width: $third-width; padding-right: $small-padding; }
		.page-taxonomy-term .node-teaser:nth-child(3n+1) { padding-right: 0; }
	}

	@media (min-width: $lg-screen) { 
		.page-taxonomy-term .node-teaser { width: $quarter-width; padding-right: $small-padding; }
		.page-taxonomy-term .node-teaser:nth-child(4n+1) { padding-right: 0; }
	}



/* --------------------- CONTENT DASHBOARD STYLES */


/* --------------------- FOOTER STYLES */

	.footer { margin-top: 0; border: none; }
	.footer:before { 
		content: '';
		position: absolute;
		left: 0;
		right: 0;
		margin-top: -35px;
		width: 100vw;
		height: 1px;
		background: $gray-light;

	}
	.footer h3 { margin-top: 0; }
	.footer .block { display: inline-block; }
	.footer-menu { float: right; }
	.footer-menu .nav > li >a {
	    padding: $tiny-padding 0;
	    text-align: right;
	    font-size: $small-font;
	}





