@font-face {
  font-family: 'Avenir';
  src: url("AvenirLT-HeavyOblique.eot");
  src: url("AvenirLT-HeavyOblique.eot?#iefix") format("embedded-opentype"), url("AvenirLT-HeavyOblique.ttf") format("truetype"), url("AvenirLT-HeavyOblique.woff") format("woff"), url("AvenirLT-HeavyOblique.svg#AvenirLT-HeavyOblique") format("svg");
  font-style: italic;
  font-weight: 800;
}
