@font-face {
  font-family: 'Avenir';
  src: url("AvenirLT-Light.eot");
  src: url("AvenirLT-Light.eot?#iefix") format("embedded-opentype"), url("AvenirLT-Light.ttf") format("truetype"), url("AvenirLT-Light.woff") format("woff"), url("AvenirLT-Light.svg#AvenirLT-Light") format("svg");
  font-style: normal;
  font-weight: 300;
}
